# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.o
*.lst
*.axf
*.d
*.htm
*.dep
*.map
*.__i
*.iex
EE383S16OS/EE383S16OS/ee383OS.uvoptx
EE383S16OS/EE383S16OS/ee383OS.uvguix.Kristina
EE383S16OS/EE383S16OS/ee383OS.uvguix.jel
EE383S16OS/EE383S16OS/ee383OS.uvguix.ethangill
